* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  /* background-color: #047857; */
  background-color: #f1f5f9;
  overflow-x: hidden;
}
@media (max-width: 48em) {
  html {
    font-size: 50.5%;
  }
}
