.errors {
  color: #e11d48;
  background-color: #ffe4e6;
  display: inline-block;
  padding: 0.4rem;

  border-radius: 6px;
  max-width: 280px;
  font-style: italic;
  font-size: 1.3rem;
}
.form-wrapper {
  width: 100%;
  background-color: #ecfdf5;
  color: #14b8a6;
  font-size: 2.3rem;

  display: flex;
  align-items: center;
  /* flex-direction: column; */
  gap: 2.5rem;
  justify-content: center;
}
.emoji {
  width: 25%;
}
.emoji > img {
  width: 100%;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;

  gap: 2.9rem;
}
.contact {
  font-size: 2.9rem;
  font-style: italic;
}
.field {
  text-align: center;
  max-width: 320px;
  border-radius: 8px;
  height: 32px;
  font-size: 1.4rem;
  border: 1px solid #10b981;
  outline: none;
}
.submit {
  max-width: 310px;
  height: 32px;
  border-radius: 6px;
  background-color: #34d399;
  color: #ecfdf5;
  font-size: 1.5rem;
  font-weight: 650;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
}
.Toastify__toast {
  font-size: 1.6rem;
}
@media (max-width: 38em) {
  .form-wrapper {
    position: absolute;
    top: 16rem;
  }
}
